name: 签到

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "00 22,4,10 * * *"
  watch:
    types: started

jobs: 
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
    - uses: actions/checkout@v2
    - name: 初始化Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: 'Install dependencies'
      run: pip install -r requirements.txt
    - name: '开始运行'
      run: python 2.py
